<select name="pageSize">
    <option value="10" {{ '10' == request.queryparams['pageSize'] ? 'selected' : '' }}>10개씩 보기</option>
    <option value="20" {{ '20' == request.queryparams['pageSize'] ? 'selected' : '' }}>20개씩 보기</option>
    <option value="30" {{ '30' == request.queryparams['pageSize'] ? 'selected' : '' }}>30개씩 보기</option>
    <option value="50" {{ '50' == request.queryparams['pageSize'] ? 'selected' : '' }}>50개씩 보기</option>
</select>