<!-- footer -->
<footer>
  <div class="footer-info">
    <p class="footer-name">시행 (가칭)운정역지역주택조합 추진위원회</p>
    <ul class="footer-list">
      <li>온라인대행 : ㈜ 티디아이</li>
      <li>서울특별시 서초구 반포대로20길 29(서초동, TDI타워)</li>
      <li>사업자등록번호 : 615-85-36966</li>
      <li>정보관리책임자 : 최성두</li>
    </ul>
    <div class="footer-cp">
      <p>Copyright ⓒ 운정역더써밋. All Rights Reserved.</p>
      <ul class="footer-cp-list">
        <li>본 제작물에 사용된 CG, 이미지 등은 소비자의 이해를 돕기 위한 것으로 변경될 수 있으며, 실제와 다를 수 있습니다. </li>
        <li>본 제작물에 표기된 계획은 관계기관 및 사업주체 사정에 따라 일부 변경, 지연, 취소될 수 있습니다.</li>
      </ul>
    </div>
  </div>
  <div class="footer-logo">
    <img src="{{ asset('dist/images/footer_logo.svg') }}" alt="">
  </div>
</footer>
<!-- footer -->