<div class='mobile-sub-menu'>
  <a href='/' class='home-link'><img src='{{ asset('dist/images/ic_home.svg') }}' alt='홈 링크 이미지' /></a>
  <div class='main-menu-container'>
    {% block sub_main_btn %}
    {% endblock %}
    <ul class='list-menu' id='mainMenuList'>
      <li><a href='/menu1/business'>운정역더써밋</a></li>
      <li><a href='/menu2/intro'>프리미엄</a></li>
      <li><a href='/menu3/complex'>단지안내</a></li>
      <li><a href='/menu4/floorplanA'>세대안내</a></li>
      <li><a href='/menu5/news'>홍보센터</a></li>
      <li><a href='/menu6/notice/list'>고객센터</a></li>
      <li><a href='/menu7/login'>조합원 전용</a></li>
    </ul>
  </div>
    {% block sub_menu %}
    {% endblock %}
</div>