{% extends "layout.twig" %}
{% block content %}
    {% include "menu4/top_menu.twig" %}

    {% include "menu4/pc_page_nav.twig" %}


    {% block mobile_sub_menu %}
        {% embed 'mobile_sub_menu.twig' %}
            {% block sub_main_btn %}
                {% include "menu4/mo_sub_main_btn.twig" %}
            {% endblock %}
            {% block sub_menu %}
                <div class='sub-menu-container'>
                    <button class='sub-menu-btn' id='subMenuBtn'>평면안내 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                    {% include "menu4/mo_sub_menu.twig" %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    <div class="page-nav-mobile-container">
        <div class="page-nav-mobile">
            평면안내
        </div>
    </div>

    <div class="page-content-container">
        {% include "menu4/tab_page_floorplan.twig" %}
        <div class="page-title-container" data-aos="fade-up">
            <h1><span class="green">84m<sup class="large">2</sup> B-1</span></h1>
            <p>
                공간효율이 우수한 평면구성과 넉넉한 수납 공간으로 주거만족도를 높입니다
            </p>
        </div>

        <div class="table-title" data-aos="fade-up" data-aos-delay="500">199세대</div>

        <table class="specs desktop bottom-border" data-aos="fade-up" data-aos-delay="500">
            <colgroup>
                <col width="240px">
                <col width="368px">
                <col width="240px">
                <col width="368px">
            </colgroup>
            <tbody>
            <tr>
                <th>전용 면적</th>
                <td>84.9425m<sup>2</sup></td>
                <th>주거공용 면적</th>
                <td>29.0103m<sup>2</sup></td>
            </tr>
            <tr>
                <th>공급 면적</th>
                <td>113.9528m<sup>2</sup></td>
                <th>기타 공유 면적</th>
                <td>77.3774m<sup>2</sup></td>
            </tr>
            <tr>
                <th>계약 면적</th>
                <td>191.3302m<sup>2</sup></td>
                <th>대지 지분 면적</th>
                <td>60.5440m<sup>2</sup></td>
            </tr>
            </tbody>
        </table>

        <table class="specs mobile bottom-border" data-aos="fade-up" data-aos-delay="500">
            <tbody>
            <tr>
                <th>전용 면적</th>
                <td>84.9425m<sup>2</sup></td>
            </tr>
            <tr>
                <th>주거공용 면적</th>
                <td>28.0903m<sup>2</sup></td>
            </tr>
            <tr>
                <th>공급 면적</th>
                <td>113.9528m<sup>2</sup></td>
            </tr>
            <tr>
                <th>기타 공유 면적</th>
                <td>77.3774m<sup>2</sup></td>
            </tr>
            <tr>
                <th>계약 면적</th>
                <td>191.3302m<sup>2</sup></td>
            </tr>
            <tr>
                <th>대지 지분 면적</th>
                <td>60.5440m<sup>2</sup></td>
            </tr>
            </tbody>
        </table>

        <div class="floorplan-container">
            <div class="view-container" data-aos="fade-up" data-aos-delay="500">
                <div class="label">top <br> view</div>
                <img src="{{ asset('dist/images/floorplan-img-5.png') }}" class="top" alt="탑뷰">
            </div>
            <div class="view-container" data-aos="fade-up" data-aos-delay="1000">
                <div class="label">iso <br> view</div>
                <img src="{{ asset('dist/images/floorplan-img-6.png') }}" class="iso" alt="iso 뷰">
            </div>
        </div>


        <div class='division-line-subpage' data-aos='fade-up'></div>

        <ul class='notice-info' data-aos='fade-up'>
            <li>본 홈페이지의 평면도, 면적 및 도면 내용은 소비자의 이해를 돕기 위한 것으로 실제 시공 시 다소 변경될 수 있습니다.</li>
            <li>본 홈페이지는 제작 광정상 오탈자가 있을 수 있으므로 청약 및 계약 시 반드시 확인하시기 바랍니다.</li>
        </ul>
    </div>
    <!-- page content -->


    {% include "footer.twig" %}

{% endblock %}