<div class="tab-container">
    <div class="tab {{ _currentPath == '/menu4/floorplanA' ? 'active' : '' }}"><a href="/menu4/floorplanA">84m<sup>2</sup> A</a></div>
    <div class="tab {{ _currentPath == '/menu4/floorplanB' ? 'active' : '' }}"><a href="/menu4/floorplanB">84m<sup>2</sup> B</a></div>
    <div class="tab {{ _currentPath == '/menu4/floorplanB1' ? 'active' : '' }}"><a href="/menu4/floorplanB1">84m<sup>2</sup> B-1</a></div>
</div>
