{% extends "layout.twig" %}
{% block content %}

	{% include "menu1/top_menu.twig" %}

	{% include "menu1/pc_page_nav.twig" %}


	{% block mobile_sub_menu %}
		{% embed 'mobile_sub_menu.twig' %}
			{% block sub_menu %}
				<div class='sub-menu-container'>
					<button class='sub-menu-btn' id='subMenuBtn'>사업개요 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
					{% include "menu1/mo_sub_menu.twig" %}
				</div>
			{% endblock %}
		{% endembed %}
	{% endblock %}

	<div class="page-nav-mobile-container">
		<div class="page-nav-mobile">
			사업개요
		</div>
	</div>

	<div class="page-content-container">
		<div class="page-title-container" data-aos="fade-up">
			<p>
				앞으로 <span class="green">더 좋은 내일</span>이 기대됩니다
			</p>
			<h1>내가 바라는</h1>
			<h1>
				모든 것이 바로 집 앞에
			</h1>
		</div>
		<img src="{{ asset('dist/images/business-img.png') }}" alt="" data-aos="fade-up">
		<div class="logo-container" data-aos="fade-up">
			<img src="{{ asset('dist/images/business-logo.svg') }}" alt="">
		</div>

		<table class="specs desktop" data-aos="fade-up">
			<colgroup>
				<col width="240px">
				<col width="368px">
				<col width="240px">
				<col width="368px">
			</colgroup>
			<tbody>
				<tr>
					<th>사업명</th>
					<td colspan="3">운정역 지역주택조합 아파트 건립사업</td>
				</tr>
				<tr>
					<th>위치</th>
					<td colspan="3">파주시 야당동 38-3번지 일원</td>
				</tr>
				<tr>
					<th>지역지구</th>
					<td colspan="3">계획관리지역, 성장관리방안 수립지역(복합Zone)</td>
				</tr>
				<tr>
					<th rowspan="2">대지면적</th>
					<td rowspan="2">190,536.00m<sup>2</sup> <br> (57,636.88평)</td>
					<th>기반시설</th>
					<td>101,924.00m<sup>2</sup> <br> (30,831.87평)</td>
				</tr>
				<tr>
					<th>사업면적</th>
					<td>76,870.00m<sup>2</sup> <br> (23,253.07평)</td>
				</tr>
				<tr>
					<th>규모</th>
					<td colspan="3">지하 2층 / 지상 20~35층 / 12개동 / 1,255세대</td>
				</tr>
				<tr>
					<th>용도</th>
					<td colspan="3">공동주택, 근린생활시설, 부대시설</td>
				</tr>
				<tr>
					<th>용적율/건폐율</th>
					<td colspan="3">188.15%, 13.59%</td>
				</tr>
				<tr>
					<th rowspan="2">연면적</th>
					<td rowspan="2">242,564.68m<sup>2</sup><br>(73,375.49평)</td>
					<th>지상면적</th>
					<td>145,058.37m<sup>2</sup><br>(43,879.96평)</td>
				</tr>
				<tr>
					<th>지하면적</th>
					<td>97,506.31m<sup>2</sup><br>(29,495.53평)</td>
				</tr>
				<tr>
					<th>주차대수</th>
					<td colspan="3">2,535대(아파트 2,510대, 근린시설 14대, 부대시설 11대)</td>
				</tr>
			</tbody>
		</table>

		<table class="specs mobile" data-aos="fade-up">
			<tbody>
				<tr>
					<th>사업명</th>
					<td>운정역 지역주택조합 아파트 건립사업</td>
				</tr>
				<tr>
					<th>위치</th>
					<td>파주시 야당동 38-3번지 일원</td>
				</tr>
				<tr>
					<th>지역지구</th>
					<td>계획관리지역, 성장관리방안 수립지역(복합Zone)</td>
				</tr>
				<tr>
					<th>대지면적</th>
					<td>190,536.00m<sup>2</sup>&nbsp;(57,636.88평)</td>
				</tr>
				<tr>
					<th>기반시설</th>
					<td>101,924.00m<sup>2</sup>&nbsp;(30,831.87평)</td>
				</tr>
				<tr>
					<th>사업면적</th>
					<td>76,8700.00m<sup>2</sup>&nbsp;(23,253.07평)</td>
				</tr>
				<tr>
					<th>규모</th>
					<td>지하 2층 / 지상 20~35층 / 12개동 / 1,255세대</td>
				</tr>
				<tr>
					<th>용도</th>
					<td>공동주택, 근린생활시설, 부대시설</td>
				</tr>
				<tr>
					<th>용적율/건폐율</th>
					<td>188.15%, 13.59%</td>
				</tr>
				<tr>
					<th>연면적</th>
					<td>242,564.68m<sup>2</sup>&nbsp;(73,375.49평)</td>
				</tr>
				<tr>
					<th>지상면적</th>
					<td>145,058.37m<sup>2</sup>&nbsp;(43,879.96평)</td>
				</tr>
				<tr>
					<th>지하면적</th>
					<td>97,506.31m<sup>2</sup>&nbsp;(29,495.53평)</td>
				</tr>
				<tr>
					<th>주차대수</th>
					<td>2,535대(아파트 2,510대, 근린시설 14대, 부대시설 11대)</td>
				</tr>
			</tbody>
		</table>

		<div class="division-line-subpage" data-aos="fade-up"></div>

		<ul class="notice-info" data-aos="fade-up">
			<li>본 홈페이지의 CG, 이미지, 사진 등은 소비자의 이해를 돕기 위한 것으로 실제와 차이가 있을 수 있습니다.</li>
			<li>세대에 따라 조망의 차이가 있습니다. 건물 컬러 및 입면, 조경 등은 변경될 수 있습니다.</li>
			<li>본 홈페이지의 내용은 제작 과정상 오탈자가 발생할 수 있으며, 픽토그램, 아이콘 등은 소비자의 이해를 돕기 위한 이미지로써 실제와 다소 차아가 있을 수 있습니다.</li>
			<li>본 홈페이지의 개발계획은 관계기관의 사정에 의해 변경 및 취소될 수 있으며, 이는 당사와 무관함을 알려드립니다.</li>
		</ul>
	</div>
<!-- page content -->

{% include 'footer.twig' %}
{% endblock %}