<div class="page-nav-container">
    <ul class="page-nav">
        <li class="{{ _currentPath == '/menu1/business' ? 'active' : '' }}"><a href="/menu1/business">사업개요</a></li>
        <li class="{{ _currentPath == '/menu1/architechture' ? 'active' : '' }}"><a href="/menu1/architechture">조감도/투시도</a></li>
        <li class="{{ _currentPath == '/menu1/location' ? 'active' : '' }}"><a href="/menu1/location">오시는길</a></li>
    </ul>
</div>