{% extends "layout.twig" %}
{% block content %}
  {% include "menu3/top_menu.twig" %}

  {% include "menu3/pc_page_nav.twig" %}


  {% block mobile_sub_menu %}
    {% embed 'mobile_sub_menu.twig' %}
      {% block sub_menu %}
        <div class='sub-menu-container'>
          <button class='sub-menu-btn' id='subMenuBtn'>커뮤니티 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
          {% include "menu3/mo_sub_menu.twig" %}
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}


  <div class="page-nav-mobile-container">
    <div class="page-nav-mobile">
      커뮤니티
    </div>
  </div>

  <div class="page-content-container">
    <div class="page-title-container" data-aos="fade-up">
      <p>
        건강도 휴식도 UP! UP! UP!
      </p>
      <h1><span class="green">건강한</span> 생활과 <span class="green">여유로운</span> 휴식</h1>
    </div>

    <div class="img-container community" data-aos="fade-up" data-aos-delay="500">
      <img src="{{ asset('dist/images/community.png') }}" alt="">
    </div>


    <div class='division-line-subpage' data-aos='fade-up'></div>

    <ul class='notice-info' data-aos='fade-up'>
      <li>본 홈페이지의 CG, 이미지,  문안 등은 소비자의 이해를 돕기 위한 것으로 실제와 차이가 있을 수 있습니다.</li>
      <li>건물의 색채 및 외관, 조경 식재 및 시설물, 주변 개발계획 등은 추후인•허가, 심의 및 법규의 변경 등으로 인하여 실제 시공 시 변경될 수 있습니다.</li>
    </ul>
  </div>
  <!-- page content -->


  {% include "footer.twig" %}

{% endblock %}