{% extends "layout.twig" %}
{% block content %}
	{% include "menu3/top_menu.twig" %}

	{% include "menu3/pc_page_nav.twig" %}


	{% block mobile_sub_menu %}
      {% embed 'mobile_sub_menu.twig' %}
        {% block sub_menu %}
          <div class='sub-menu-container'>
            <button class='sub-menu-btn' id='subMenuBtn'>단지배치도 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
            {% include "menu3/mo_sub_menu.twig" %}
          </div>
        {% endblock %}
      {% endembed %}
    {% endblock %}


<div class="page-nav-mobile-container">
		<div class="page-nav-mobile">
			단지배치도
		</div>
	</div>

	<div class="page-content-container">
		<img src="{{ asset('dist/images/complex-img1.png') }}" alt="" data-aos="fade-up">
		<div class="info-img-container" data-aos="fade-up">
			<img src="{{ asset('dist/images/complex-img2.png') }}" alt="" class="info-img">
		</div>
		<div class="division-line-subpage" data-aos="fade-up"></div>

		<ul class="notice-info" data-aos="fade-up">
			<li>본 홈페이지의 CG, 이미지, 사진 등은 소비자의 이해를 돕기 위한 것으로 실제와 차이가 있을 수 있습니다.</li>
			<li>건물의 색채 및 외관, 조경 식재 및 시설물, 주변 개발계획 등은 추후인•허가, 심의 및 법규의 변경 등으로 인하여 실제 시공 시 변경될 수 있습니다.</li>
			<li>상기 단지 배치도는 소비자 이해를 돕기 위해 제작된 것으로 실제와 차이가 있을 수 있습니다.</li>
			<li>상기 동•호수표는 제작 과정상 오류가 있을 수 있으니, 반드시 주택홍보관에서 확인하시기 바랍니다.</li>
		</ul>
	</div>


  <!-- page content -->
  
	{% include "footer.twig" %}

{% endblock %}