{% extends "layout.twig" %}
{% block content %}
  {% include "menu5/top_menu.twig" %}

  {% include "menu5/pc_page_nav.twig" %}


  {% block mobile_sub_menu %}
    {% embed 'mobile_sub_menu.twig' %}
      {% block sub_main_btn %}
        {% include "menu5/mo_sub_main_btn.twig" %}
      {% endblock %}
      {% block sub_menu %}
        <div class='sub-menu-container'>
          <button class='sub-menu-btn' id='subMenuBtn'>사이버모델하우스(VR) <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
          {% include "menu5/mo_sub_menu.twig" %}
        </div>
      {% endblock %}
    {% endembed %}
  {% endblock %}

  <div class='page-nav-mobile-container'>
    <div class='page-nav-mobile'>사이버모델하우스(VR)</div>
  </div>

  <div class='page-content-container'>
		<div class="vr-iframe-container">
      <iframe src="https://sws360.com/2024/jpl/uj_summit/index.htm" frameborder="0" width="100%" height="807px" class="desktop-iframe" allow="fullscreen"></iframe>
      <a href="https://sws360.com/2024/jpl/uj_summit/index.htm"  class="mobile-iframe" target="_blank">
        <img src="{{ asset('dist/images/vr-iframe-mobile.png') }}" alt="">
      </a>
    </div>
	</div>
  <!-- page content -->


  {% include "footer.twig" %}

{% endblock %}