<div class='page-nav-container'>
    <ul class='page-nav'>
        <li class="{{ 'menu6/notice' in _currentPath ? 'active' : '' }}"><a href='/menu6/notice/list'>공지사항</a></li>
        <li class="{{ 'menu6/reg' in _currentPath ? 'active' : '' }}"><a href='/menu6/reg'>관심고객등록</a></li>
    </ul>
</div>
