{% extends "layout.twig" %}
{% block content %}
    {% include "menu6/top_menu.twig" %}

    {% include "menu6/pc_page_nav.twig" %}


    {% block mobile_sub_menu %}
        {% embed 'mobile_sub_menu.twig' %}
            {% block sub_main_btn %}
                {% include "menu6/mo_sub_main_btn.twig" %}
            {% endblock %}
            {% block sub_menu %}
                <div class='sub-menu-container'>
                    <button class='sub-menu-btn' id='subMenuBtn'>관심고객등록 <img src='{{ asset('dist/images/ic_carat_down.svg') }}' alt='' /></button>
                    {% include "menu6/mo_sub_menu.twig" %}
                </div>
            {% endblock %}
        {% endembed %}
    {% endblock %}

    <script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <div class='page-nav-mobile-container'>
        <div class='page-nav-mobile'>관심고객등록</div>
    </div>

    <div class='page-content-container'>
        <form id="regFrm" method="post" autocomplete="off">
            <section class='reg-section'>
                <div class='section-title'>고객정보</div>
                <div class="reg-table">
                    <div class="row">
                        <div class="th">성명</div>
                        <div class="td">
                            <div class="input-container-table" style="max-width: 400px;">
                                <div class='label'>성명</div>
                                <div class="input-container">
                                    <input type='text' placeholder='성명' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="th">연령대</div>
                        <div class="td">
                            <div class="label">연령대</div>
                            <div class="radio-container">
                                <input name="age" id="age20" type="radio" value="20">
                                <label for="age20">20대</label>
                                <input name="age" id="age30" type="radio" value="30">
                                <label for="age30">30대</label>
                                <input name="age" id="age40" type="radio" value="40">
                                <label for="age40">40대</label>
                                <input name="age" id="age50" type="radio" value="50">
                                <label for="age50">50대</label>
                                <input name="age" id="age60" type="radio" value="60">
                                <label for="age60">60대 이상</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="th">성별</div>
                        <div class="td">
                            <div class="label">성별</div>
                            <div class="radio-container">
                                <input name="gender" id="male" type="radio" value="m">
                                <label for="male">남자</label>
                                <input name="gender" id="female" type="radio" value="f">
                                <label for="female">여자</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="th">휴대전화</div>
                        <div class="td">
                            <div class="input-container-table" style="max-width: 400px;">
                                <div class='label'>휴대전화</div>
                                <div class="input-container">
                                    <div class='custom-select'>
                                        <select name='phone1' id='phone'>
                                            <option>010</option>
                                            <option>011</option>
                                            <option>016</option>
                                            <option>017</option>
                                            <option>018</option>
                                            <option>019</option>
                                        </select>
                                    </div>
                                    -
                                    <input type='tel' placeholder='' />
                                    -
                                    <input type='tel' placeholder='' />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="th">주소</div>
                        <div class="td">
                            <div class="input-container-table" style="max-width: 800px;">
                                <div class='label'>주소</div>
                                <div class="input-container" style="max-width: 270px;">
                                    <input type="text" readonly class="post-code-input">
                                    <div class="btn-secondary" onclick="sample6_execDaumPostcode()">우편번호 검색</div>
                                </div>
                                <input type="text" placeholder="상세 주소" style="margin-top: 8px;" />
                            </div>
                            <div class="warning">※ 고객님의 상세주소를 추가로 받지 않습니다.</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="reg-section">
                <div class='section-title'>개인정보수집 및 이용동의 (필수)</div>
                <div class="terms-container reg">
                    당사는 고객님의 정보를 중요시하며, 개인정보보호법을 준수하고 있습니다. <br>
                    수집된 개인정보는 고객 여러분께 최적의 서비스를 제공하기 위한 목적으로 활용되며 최소한의 범위 내에서 개인정보를 수집하고 있습니다.
                    <br><br>
                    <b>개인정보의 수집하는 목적 및 항목</b> <br>
                    - 수집목적: 관심고객등록 <br>
                    - 수집목적: 이름, 연령대, 성별, 휴대폰번호, 주소
                    <br><br>
                    <b>개인정보의 보유기간</b> <br>
                    - 보유기간: 분양종료 시 까지
                </div>
                <div class="radio-container justify-center">
                    <input type="radio" id="agree1" name="term1" value="" />
                    <label for="agree1">동의합니다</label>

                    <input type="radio" id="reject1" name="term1" value="" />
                    <label for="reject1">동의하지 않습니다.</label>
                </div>
            </section>
            <section class="reg-section last">
                <div class='section-title'>개인정보 위탁에 대한 동의 (필수)</div>
                <div class="terms-container reg2">
                    수탁자 : 주식회사 티디아이, 수탁업무 - 홈페이지 관리
                </div>
                <div class="radio-container justify-center">
                    <input type="radio" id="agree2" name="term2" value="" />
                    <label for="agree2">동의합니다</label>

                    <input type="radio" id="reject2" name="term2" value="" />
                    <label for="reject2">동의하지 않습니다.</label>
                </div>
            </section>
            <div class="page-footer reg">
                <div class="btn-primary large">관심고객 등록하기</div>
            </div>
        </form>
    </div>
    <!-- page content -->

    {% include "footer.twig" %}
    <script>
        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    let addr = '';
                    if (data.userSelectedType === 'R') {
                        addr = data.roadAddress;
                    } else {
                        addr = data.jibunAddress;
                    }

                    document.getElementById('zipcode').value = data.zonecode;
                    document.getElementById("addr").value = addr;
                }
            }).open();
        }
    </script>

{% endblock %}