<div class='page-nav-container'>
    <ul class='page-nav'>
        <li class="{{ _currentPath == '/menu2/intro' ? 'active' : '' }}"><a href="/menu2/intro">입지소개</a></li>
        <li class="{{ _currentPath == '/menu2/premium10' ? 'active' : '' }}"><a href="/menu2/premium10">프리미엄10</a></li>
    </ul>
</div>
