<div class='tab-container login'>
    <div class='tab {{ _currentPath == '/menu7/login' ? 'active' : '' }}'><a href='/menu7/login'>로그인</a></div>
    <div class='tab {{ ('menu8/signup' in _currentPath  or 'Find' in _currentPath  )? 'active' : '' }}'><a href='/menu8/signup_terms'>회원가입</a></div>
    <div class='tab {{ 'menu8/member_notice' in _currentPath ? 'active' : '' }}'><a href='/menu8/member_notice/list'>공지사항</a></div>
</div>
